name: Website CI

on:
  push:
    paths:
      - 'clients/website/**'
      - '.github/workflows/website.yml'
  pull_request:
    paths:
      - 'clients/website/**'
      - '.github/workflows/website.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm --filter @jems/website build
      - uses: actions/upload-artifact@v3
        with:
          name: website
          path: clients/website/.next
